$semi-dark-one-color: rgba(114, 60, 70, 1);
$semi-dark-two-color: rgba(89, 54, 54, 1);
$light-color: rgba(191, 154, 154, 1);
$main-text-color: rgba(242, 215, 213, 1);
$background-main-color: rgba(38, 38, 38, 1);