@import '../../styles/colors.scss';
@import '../../styles/settings.scss';

.tile {
    width: 65vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    background-color: $light-color;
    color: $semi-dark-one-color;
    cursor: pointer;
    @include small {
        width: 36vmin;
        height: 36vmin;
    }
    &--withoutImg {
        background-color: transparent;
        color: $light-color;
        cursor: auto;
        @include small {
            order: 4;
        }
    }
    &--outstanding {
        background-color: $semi-dark-one-color;
        color: $light-color;
        &-parent {
            @include small {
                order: 3;
            }
        }
    }
    &__image {
        height: 60%;
        max-width: 100%;
        padding-top: 1vh;
    }
    &__text {
        height: 30%;
        display: flex;
        align-items: center;
        font-weight: lighter;
        font-size: 3vh;
        letter-spacing: 1px;
        &--withoutImg {
            font-size: 3.5vh;
            font-weight: bold;
            text-align: center;
        }
    }
    &__link {
        text-decoration: none;
        color: $light-color;
        cursor: pointer;
        &--icon-project {
            color: $semi-dark-two-color; 
            font-size: 8vmin;
        }
        &--icon-contact {
            margin: 3vmin;
            font-size: 8vmin;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &--text-contact {
            font-size: 5vmin;
        }
        &--social-media {
            margin: 2vmin;
            font-size: 12vmin;
        }
    }

    &__content {
        position: relative;
        width: 90vw;
        height: 80vh;
        padding: 3vw;
        background-color: $semi-dark-one-color;
        color: $light-color;
        text-align: justify;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 5vmin;
        overflow: auto;
        &::-webkit-scrollbar {
            background-color: $light-color;
            border-radius: 10px;
            width: 1.5vmin;
            &-thumb {
                background-color: $light-color;
                border-radius: 10px;
            }
        }
        @include small {
            width: 80vw;
            font-size: 4vmin;
        }
        @include medium {
            width: 60vw;
            font-size: 4vmin;
        }
        &--center {
            text-align: center;
        }
        &__about-me {
            &__subtitle {
            text-align: center;
            padding: 2vw;
            }
            &__icons-box {
                padding: 3vw;
                display: flex;
                flex-wrap: wrap;
                gap: 3vw;
                justify-content: center;
                font-size: 11vmin;
                @include medium {
                    padding: 1vw;
                }
            }
        }
        &__my-projects {
            &__subtitle {
                padding: 3vw;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 7.5vmin;
                max-height: 20%;
            } 
            &__container {
                margin: 2vmin;
                display: flex;
                flex-wrap: wrap;
                max-height: 75%;
                justify-content: center;
                align-items: center;
                overflow: auto;
                &::-webkit-scrollbar {
                    background-color: $light-color;
                    border-radius: 10px;
                    width: 1.5vmin;
                    &-thumb {
                        background-color: $light-color;
                        border-radius: 10px;
                    }
                }
            }
        }
        &__my-project {
            width: 70vmin;
            height: 34vmin;
            margin: 2vmin;
            background-blend-mode: overlay;
            background-size: 100%;
            background-repeat: no-repeat;
            background-color:  rgba(191, 154, 154, 1);
            background-position: center;
            border-radius: 5px;
            border: 0;
            @include medium {
                width: 20vw;
                height: 11vw;
            }
            &--guide {
                background-image: url('../../images/guide.jpg');
            }
            &--shoppinglist {
                background-image: url('../../images/shoppinglist.png');
            }
            &--todolist {
                background-image: url('../../images/todolist.png');
            }
            &--breeds {
                background-image: url('../../images/breeds.png');
            }
            &__text {
                font-size: 4vw;
                font-weight: bold;
                width: 100%;
                height: 100%;
                background-color: $light-color;
                color: $semi-dark-two-color;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                opacity: .8;
                border-radius: 5px;
                @include small {
                    font-size: 3vw;
                }
                @include medium {
                    font-size: 1.5vw;
                }
            }
        }
        &__contact-data {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            &__subtitle {
                margin-bottom: 3vmin;
                font-size: 5vmin;
            }
        }
        &__exit-button {
            position: absolute;
            top: 5px;
            right: 5px;
            width: 25px;
            height: 25px;
            opacity: .4;
            cursor: pointer;
            &:hover {
                opacity: 1;
            }
        }
    }
}

.home {
    &:hover > .tile-to-hover {
        opacity: .5;
    }
    &:hover > .tile-to-hover:hover {
        opacity: 1;
    }
}

