@import '../../styles/colors.scss';
@import '../../styles//settings.scss';

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2vh;
    @include small {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 2vh;
        max-width: 75vmin;
        max-height: 75vmin;
    }
}